.header-main {
    display: flex;
    justify-content: space-between; 
    background: rgba(84, 100, 118, 0.5);
    padding: 1%;
    border-radius: 20px
}

.margin-decent {
    margin: 20px;
}

.header-item {
    display: flex;
    justify-content: space-between;  
    gap: 10px;
}

.heading-main {
    font-size: 30px;
    margin-top: 10%; 
  }


  