.register-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .register-form {
    margin: 2px;
  }

  .register-header {
    gap: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.register-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form input {
  margin: 5px;
  width: 100%;
  padding: 10px;
}

.register-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-container button {
  width: 100%;
  margin: 5px;
  font-size: 18px;
}

.error-message {
  animation: fadeOut 2s forwards;
  animation-delay: 5s;
  background-color: #7e0505;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.registration-message {
  animation: fadeOut 2s forwards;
  animation-delay: 5s;
  background-color: #177e05;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
