.editor {
  position: relative;
  color: black;
  width: 100%;
  border: 1px solid black;
  background-color: white;
}

/* those are for numbered lists*/
.editor ol {
  padding-left: 20px;
}

/* those are for bulletpoints and checkpoints */
.editor ul {
  padding-left: 20px;
}

.editor ul[data-type='taskList'] {
  list-style-type: none; /* Remove bullet points */
}

.editor li[data-type='taskItem'] {
  list-style-type: none; /* Remove bullet points for task items */
}

.editor ul[data-type='taskList'] li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.editor ul[data-type='taskList'] li label input[type='checkbox'] {
  /* filter: invert(100%) hue-rotate(18deg) brightness(1.7); */
  display: inline-block;
  margin-right: 10px;
}

.editor ul[data-type='taskList'] li div {
  margin-bottom: 10px;
}

.editor ul[data-type='taskList'] li .text {
  display: inline;
  margin: 0;
}

.handwriting ul[data-type='taskList'] li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.handwriting ul[data-type='taskList'] li label input[type='checkbox'] {
  display: inline-block;
  margin-right: 10px;
}

.handwriting ul[data-type='taskList'] li div {
  margin-bottom: 5px;
}

.handwriting ul[data-type='taskList'] li .text {
  display: inline;
  margin: 0;
}

.menu {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;

  display: flex;
  align-items: center;
  gap: 8px;

  width: calc(100% - 4px);
  height: 40px;
  margin: 0;
  padding: 0 8px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid var(--color-gray-5);
  background-color: whitesmoke;
  color: var(--color-gray-2);
}

.bubble-menu-dark,
.bubble-menu-light {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px;

  border-radius: 4px;
}

.bubble-menu-dark {
  background-color: var(--color-gray-1);
  color: var(--color-white);
}

.bubble-menu-light {
  border: 2px solid var(--color-gray-4);
  background-color: var(--color-white);
  color: var(--color-gray-2);
}

.link-menu {
  display: flex;
  align-items: center;
  gap: 8px;

  /* height: 40px; */
  padding: 8px;

  border: 2px solid var(--color-gray-5);
  border-radius: 4px;
  background-color: var(--color-white);
}

.button,
.button-save,
.button-remove,
.button-edit,
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 32px;

  margin: 0;
  padding: 0 8px;

  border: 0;
  border-radius: 4px;
  background: transparent;
  color: currentColor;

  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  font-weight: inherit;

  white-space: nowrap;
  cursor: pointer;
}

.menu-button {
  width: 32px;
  padding: 0;
}

.button:disabled,
.menu-button:disabled {
  color: var(--color-gray-4);
}

.button-save {
  background-color: #2d8ec3;
  color: white;
}

.button-remove {
  background-color: #2d8ec3;
  color: white;
}

.button-edit {
  background-color: #2d8ec3;
  color: white;
}

.button-remove:disabled {
  background-color: var(--color-pale-pink);
}

/* Basic editor styles */
.ProseMirror {
  margin-top: 4px;
  padding: 48px 8px 8px;
  min-height: 150px;
  border: 2px solid var(--color-gray-4);
  border-radius: 4px;
}

.editor-mini .ProseMirror {
  padding-top: 8px;
}

.ProseMirror-focused {
  border-color: var(--color-black);
  outline: none;
}

.ProseMirror > * + * {
  margin-top: 16px;
}

.modal-title {
  margin: 0 0 24px;
  font-size: 20px;
  line-height: 1;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  border: 0;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}

.modal-close:hover {
  background-color: var(--color-gray-5);
  color: var(--color-black);
}

.modal-input {
  width: 100%;
  height: 40px;

  margin-bottom: 16px;

  border: 2px solid var(--color-gray-5);
  border-radius: 4px;

  font-size: inherit;
}

.modal-buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
