.footer-main {
  display: flex;
  justify-content: space-around;
  background: rgba(84, 100, 118, 0.5);
  padding: 1%;
  border-radius: 20px;
  margin: 20px;
  border: 0.5px black solid; 
  color: white;
}

.footer-button:first-child {
  color: white;
  flex: 1; 
  margin: -17px 0px -17px -17px; 
  padding: -1%;
  border-radius: 20px 0px 0px 20px;
  background: transparent;
  border: none;
}

.footer-button:last-child {
  color: white;
  flex: 1; 
  margin: -17px -17px -17px 0px; 
  padding: -1%;
  border-radius: 0px 20px 20px 0px;
  background: transparent;
  border: none;
}

.footer-button:hover {
  background: rgba(58, 68, 78, 0.5); 
}
