.error-message {
  animation: fadeOut 2s forwards;
  animation-delay: 5s;
  background-color: #7e0505;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.success-message {
  background-color: #177e05;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  animation: fadeOut 5s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
